@import "variables";

.chess-piece {
  width: 50px;
  height: 50px;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
  }

  @each $piece in $chess-pieces {
    @each $color in $chess-pieces-color {
      &.#{$color}-#{$piece} {
        &:after {
          background-image: url("../svgs/#{$color}_#{$piece}.svg");
        }
      }
    }
  }
}
