@import "variables";

.chess-table {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  border: 2px solid #000;
  max-width: 400px;
  margin-left: 50px;

  .chess-cell {
    width: 50px;
    height: 50px;
    background-color: var(--chess-light);
    border: 1px solid var(--chess-light);
    box-sizing: border-box;

    @each $offset in 2 4 6 8 9 11 13 15 {
      &:nth-child(16n + #{$offset}) {
        background-color: var(--chess-dark);
        border-color: var(--chess-dark);
      }
    }

    &.highlighted {
      background-image: linear-gradient(rgba(255,255,255,0.65), rgba(255,255,255,0.65));
     background-color: var(--primary-color);
    }
  }

  .chess-piece {
    width: 50px;
    height: 50px;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
    }

    @each $piece in $chess-pieces {
      @each $color in $chess-pieces-color {
        &.#{$color}-#{$piece} {
          &:after {
            background-image: url("../svgs/#{$color}_#{$piece}.svg");
          }
        }
      }
    }
  }
}
