$primary-color: white;
$bg: black;
$chess-pieces: 'king', 'queen', 'rook', 'bishop', 'knight', 'pawn';
$chess-pieces-color: 'white', 'black';

:root{
  --primary-color: #345e26;
  --chess-dark: #5d5d5d;
  --chess-light: #eaeaea;
}
