body{
    display: flex;
    justify-content: center;
}
.black-box{
    background-color: gray;
}
.white-box{
    background-color:  #FFFDD0 ;
}
.chess-box{
    //flex: 1 0 12.5%;
    width: 10vh;
    height: 10vh;
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vh;
    height: 80vh;
    border: 1px solid black;
}
.piesa{
    width: 100%;
    height: 100%;
}
.piece-ready{
    background-color: green;
}
.potential{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Blue_circle_for_diabetes.svg/2048px-Blue_circle_for_diabetes.svg.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}