$primary-color: white;
$bg: black;


:root{
  --cell:22.5;
  --cellsize: 62.5;
}
body {
  margin: 0 calc(var(--cell)*2px);
}

#app {
  min-width: 100vw;
  min-height: 100vh;

  > h1 {
  }
  > .tableClass {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslategrey;
    width: calc(var(--cellsize)*8px);
    height: calc(var(--cellsize)*8px);
    margin: 20px 0;

    > .cellClass {
      width: calc(var(--cellsize)*1px);
      height: calc(var(--cellsize)*1px);
      border: 1px solid green;
      box-sizing: border-box;
    }
  }
  > .tableClass2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #24569C;
    width: calc(var(--cellsize)*8px);
    height: calc(var(--cellsize)*8px);
    margin: 20px 0;

    > .cellClass2 {
      width: calc(var(--cellsize)*1px);
      height: calc(var(--cellsize)*1px);
      border: 1px solid #3B8FBF;
      box-sizing: border-box;
    }
  }
  .piece0 > img{
    width: calc(var(--cellsize)*2px);
    height: calc(var(--cellsize)*1px);
    z-index: 5;
    position: relative;
  }
  .piece1 > img, .piece2 > img{
    width: calc(var(--cellsize)*3px);
    height: calc(var(--cellsize)*1px);
    z-index: 5;
    position: relative;
  }
  .piece3 > img{
    width: calc(var(--cellsize)*4px);
    height: calc(var(--cellsize)*1px);
    z-index: 5;
    position: relative;
  }
  .piece4 > img{
    width: calc(var(--cellsize)*5px);
    height: calc(var(--cellsize)*1px);
    z-index: 5;
    position: relative;
  }
}