body {
  margin-top: 15px;
  margin-left: 25%;
  padding: 0;
  width: 55%;
  height: 55%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.pieces-out {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: right;
  position: relative;
}

.top, .top-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  position: relative;

  &.top-buttons {
    margin-top: 15px;
  }
}

.email-input {
  margin-top: 10px;
  border: 3px solid #CDD9ED;
  border-radius: 6px;
  transition: border .3s ease;
  width: 250px;
  height: 40px;
  font-size: 18px;

  &::placeholder {
    color: #CBD1DC;
  }
  &:focus {
    outline: none;
    border-color: #275EFE;
  }
}

.log-button , .load-button, .save-state-button {
  margin-top: 10px;
  margin-left: 5px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: #D59A68;
  border: 3px solid #D59A68;
  border-radius: 10px;
  color: black;
  font-family: ui-sans-serif;
  transition: .3s;
  &:hover {
    outline: none;
    background: #D59A68;
    cursor: pointer;
    transform: translateY(10px);
  }
}

.game-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  position: relative;
}

.game-info-text {
  margin-left: 300px;
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
  font-family: ui-sans-serif;
  font-weight: bold;
}

.white-pieces-taken, .black-pieces-taken {
  width: 200px;
  font-size: 20px;
  font-family: ui-sans-serif;
  font-weight: bold;
  text-align: center;
  }

.tableBoard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 25px solid #593F3B;
  //border-radius: 12px;
  justify-content: space-between;
  background-color: #E4D4C8;
  max-width: 90vw;
  height: 60%;
}

.top-left-set-of-five {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 100px;
}

.top-left-triangles {
  width: 100px;
  height: 360px;
  position: relative;

  &:after {
    top: 0;
    position: absolute;
    content: '';
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;

    border-top: 360px solid #D59A68;
  }

  &:nth-child(odd) {
    &:after {
    border-top-color: #593F3B;
    }
  }
}

.top-right-set-of-five {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 100px;
}

.top-right-triangles {
    width: 100px;
    height: 360px;
    position: relative;

    &:after {
      top: 0;
      position: absolute;
      content: '';
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;

      border-top: 360px solid #D59A68;
    }
  &:nth-child(odd) {
    &:after {
      border-top: 360px solid #593F3B;
    }
  }
}

.bottom-left-set-of-five {
  display: flex;
  flex-direction: row;
}

.bottom-left-triangles {
  width: 100px;
  height: 360px;
  position: relative;

  &:after {
    position: absolute;
    bottom: 0;
    content: '';
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 360px solid #593F3B;
  }
  &:nth-child(even) {
    &:after {
      border-bottom: 360px solid #D59A68;
    }
 }
}

.bottom-right-set-of-five {
  display: flex;
  flex-direction: row;
}

.bottom-right-triangles {
  width: 100px;
  height: 360px;
  position: relative;

  &:after {
    position: absolute;
    bottom: 0;
    content: '';

    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 360px solid #D59A68;
  }

  &:nth-child(odd) {
    &:after {
      border-bottom: 360px solid #593F3B;
    }
  }
}

.div-set {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  height: 400px;
}

.white-pieces {
  border-radius: 100%;
  margin: 2px;
  border: 30px solid white;
  box-shadow: 2px 3px 0 #000000;
  transition: all 0.2s linear;
  width: 8px;
}

.disable-div {
  pointer-events: none;
  opacity: 0.5;
}

.white-pieces-clicked {
  border: 30px solid #988780;
}

.black-pieces-clicked {
  border: 30px solid #ffffff;
}

.white-pieces:hover {
  border: 30px solid #988780;
  box-shadow: 2px 3px 0 white;
}

.black-pieces {
  border-radius: 100%;
  margin: 2px;
  border: 30px solid black;
  box-shadow: 2px 3px 0 #ffffff;
  transition: all 0.2s linear;
  width: 8px;
}

.black-pieces:hover {
  border: 30px solid #000000;
  box-shadow: 2px 3px 0 #000000;
}

.start-button {
  text-align: center;
  font-family: ui-sans-serif;
  width: 300px;
  height: 60px;
  top: 0;
  outline: none;
  position: relative;
  padding: 15px 50px;
  color: #fff;
  background-color: #f4d35e;
  border: none;
  font-size: 25px;
  border-radius: 20px;
  box-shadow: 1px 3px #50514F;
  transition: .3s;
}

.start-button:hover, .start-button:active {
  outline: none;
  background: #1D741B;
  cursor: pointer;
  transform: translateY(10px);
}

.roll-button {
    position: relative;
    padding: 15px 50px;
    height: 60px;
    width: 200px;
    color: #fff;
    background-color: #f4d35e;
    border: none;
    font-size: 25px;
    border-radius: 20px;
    box-shadow: 1px 3px #50514F;
    outline: none;
    transition: .3s;
    font-family: ui-sans-serif;
}

.roll-button:hover, .roll-button:active {
    outline: none;
    background: #50514F;
    cursor: pointer;
    transform: translateY(10px);
}

.dice-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  //margin-left: 100px;
  width: 50%;
}

.dice-1, .dice-2, .dice-3, .dice-4 {
  top:0;
  position: relative;
  width: 60px;
  height: 60px;  transform-style: preserve-3d;
  transform: translateZ(30px);
  transition: transform 1s;

}

.dice-1.show-1  { transform: translateZ(-30px) rotateY(   0deg); }
.dice-1.show-2  { transform: translateZ(-30px) rotateY(-180deg); }
.dice-1.show-3  { transform: translateZ(-30px) rotateY( -90deg); }
.dice-1.show-4   { transform: translateZ(-30px) rotateY(  90deg); }
.dice-1.show-5   { transform: translateZ(-30px) rotateX( -90deg); }
.dice-1.show-6 { transform: translateZ(-30px) rotateX(  90deg); }

.dice-2.show-1  { transform: translateZ(-30px) rotateY(   0deg); }
.dice-2.show-2  { transform: translateZ(-30px) rotateY(-180deg); }
.dice-2.show-3  { transform: translateZ(-30px) rotateY( -90deg); }
.dice-2.show-4   { transform: translateZ(-30px) rotateY(  90deg); }
.dice-2.show-5   { transform: translateZ(-30px) rotateX( -90deg); }
.dice-2.show-6 { transform: translateZ(-30px) rotateX(  90deg); }

.dice-3.show-1  { transform: translateZ(-30px) rotateY(   0deg); }
.dice-3.show-2  { transform: translateZ(-30px) rotateY(-180deg); }
.dice-3.show-3  { transform: translateZ(-30px) rotateY( -90deg); }
.dice-3.show-4   { transform: translateZ(-30px) rotateY(  90deg); }
.dice-3.show-5   { transform: translateZ(-30px) rotateX( -90deg); }
.dice-3.show-6 { transform: translateZ(-30px) rotateX(  90deg); }

.dice-4.show-1  { transform: translateZ(-30px) rotateY(   0deg); }
.dice-4.show-2  { transform: translateZ(-30px) rotateY(-180deg); }
.dice-4.show-3  { transform: translateZ(-30px) rotateY( -90deg); }
.dice-4.show-4   { transform: translateZ(-30px) rotateY(  90deg); }
.dice-4.show-5   { transform: translateZ(-30px) rotateX( -90deg); }
.dice-4.show-6 { transform: translateZ(-30px) rotateX(  90deg); }

.dice-face {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 3px ridge #B9B7BD;
  border-radius: 12px;
  line-height: 60px;
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.dice-face-1  { background: ghostwhite;  opacity: 1.00;}
.dice-face-3  { background: ghostwhite;  opacity: 1.00; }
.dice-face-2  { background: ghostwhite;  opacity: 1.00; }
.dice-face-4  { background: ghostwhite;  opacity: 1.00; }
.dice-face-5  { background: ghostwhite;  opacity: 1.00; }
.dice-face-6  { background: ghostwhite;  opacity: 1.00; }

.dice-face-1  { transform: rotateY(  0deg) translateZ(30px); }
.dice-face-2  { transform: rotateY(180deg) translateZ(30px); }
.dice-face-3  { transform: rotateY( 90deg) translateZ(30px); }
.dice-face-4  { transform: rotateY(-90deg) translateZ(30px); }
.dice-face-5  { transform: rotateX( 90deg) translateZ(30px); }
.dice-face-6  { transform: rotateX(-90deg) translateZ(30px); }
