$primary-color: white;
$bg: black;

$chess-pieces: 'king', 'queen', 'rook', 'bishop', 'knight', 'pawn';
$chess-pieces-color:'B','W';


body {
  background-color: bisque;
  display: flex;
  flex-direction: row;
}

.main {
  background-color: black;
  height: 729px;
  width: 729px;
  margin-left: 370px;
  border: 4px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.count {
  height: 100px;
  width: 500px;
  position: absolute;
  color: black;
  font-size: xxx-large;
  font-weight: bold;
  margin-left: 680px;
  margin-top: 300px;
}

.divButton {
  //margin-right: 400px;
}

button {
  width: 200px;
  height: 60px;
  background-color: coral;
  border: 1px solid black;
  margin-left: 200px;
  margin-top: 400px;
  font-size: large;
  font-weight: bold;
}

.cell {
  flex: 1 0 12%;
  background-repeat: no-repeat;
  background-size: contain;
}

.piece{

  &:after {
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: grab;
  }


  @each $piece in $chess-pieces {
    @each $color in $chess-pieces-color {
      &.#{$piece}#{$color} {
        &:after {
          background-image: url("../images/#{$piece}#{$color}.svg");
        }
      }
    }
  }
}

.piece:active{
  cursor: grabbing;
}
.piece.dragging{
  opacity: .5;
}



.white {
  background-color: white;
}

.black {
  background-color: dimgray;
}

.selector {
  background-color: coral;
}

.clicked {
  background-color: blue;
}

.highlight{
  -webkit-box-shadow: inset 0 0 8px 8px rgba(95, 231, 219, 0.63);
  box-shadow: inset 0 0 8px 8px rgba(95, 231, 219, 0.63);
}

