body {
  margin: 30px;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  position: relative;
}

.tableBoard {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 25px solid #593F3B;
  border-radius: 12px;
  justify-content: space-between;
  background-color: #E4D4C8;
  width: 90vw;
  height: 60%;
}

.top-left-set-of-five {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 100px;
}

.top-left-triangles {
  width: 100px;
  height: 360px;
  position: relative;

  &:after {
    top: 0;
    position: absolute;
    content: '';
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;

    border-top: 360px solid #D59A68;
  }

  &:nth-child(odd) {
    &:after {
    border-top-color: #593F3B;
    }
  }
}

.top-right-set-of-five {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 100px;
}

.top-right-triangles {
    width: 100px;
    height: 360px;
    position: relative;

    &:after {
      top: 0;
      position: absolute;
      content: '';
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;

      border-top: 360px solid #D59A68;
    }
  &:nth-child(odd) {
    &:after {
      border-top: 360px solid #593F3B;
    }
  }
}

.bottom-left-set-of-five {
  display: flex;
  flex-direction: row;
}

.bottom-left-triangles {
  width: 100px;
  height: 360px;
  position: relative;

  &:after {
    position: absolute;
    bottom: 0;
    content: '';
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 360px solid #593F3B;
  }
  &:nth-child(even) {
    &:after {
      border-bottom: 360px solid #D59A68;
    }
 }
}

.bottom-right-set-of-five {
  display: flex;
  flex-direction: row;
}

.bottom-right-triangles {
  width: 100px;
  height: 360px;
  position: relative;

  &:after {
    position: absolute;
    bottom: 0;
    content: '';

    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 360px solid #D59A68;
  }

  &:nth-child(odd) {
    &:after {
      border-bottom: 360px solid #593F3B;
    }
  }
}

.div-set {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.white-pieces {
  border-radius: 100%;
  margin: 5px;
  border: 30px solid white;
  box-shadow: 2px 3px 0 #000000;
}

.white-pieces-clicked {
  border: 30px solid #988780;
}

.black-pieces-clicked {
  border: 30px solid #ffffff;
}

.white-pieces:hover {
  border: 30px solid #988780;
  box-shadow: 2px 3px 0 white;
}

.black-pieces {
  border-radius: 100%;
  margin: 5px;
  border: 30px solid black;
  box-shadow: 2px 3px 0 #ffffff;
}

.black-pieces:hover {
  border: 30px solid #000000;
  box-shadow: 2px 3px 0 #000000;
}

.start-button {
  text-align: center;
  font-family: ui-sans-serif;
  width: 400px;
  height: 80px;
  margin-bottom: 20px;
  top: 0;
  outline: none;
  position: relative;
  margin-left: 40px;
  padding: 15px 50px;
  color: #fff;
  background-color: #f4d35e;
  border: none;
  font-size: 25px;
  border-radius: 20px;
  box-shadow: 1px 3px #50514F;
  transition: .3s;
}

.start-button:hover, .start-button:active {
  outline: none;
  background: #1D741B;
  cursor: pointer;
  transform: translateY(15px);
}

.roll-button {
    position: relative;
    margin-left: 40px;
    padding: 15px 50px;
    height: 65px;
    width: 200px;
    color: #fff;
    background-color: #f4d35e;
    border: none;
    font-size: 25px;
    border-radius: 20px;
    box-shadow: 1px 3px #50514F;
    outline: none;
    transition: .3s;
    font-family: ui-sans-serif;
}

.roll-button:hover, .roll-button:active {
    outline: none;
    background: #50514F;
    cursor: pointer;
    transform: translateY(15px);
}

.dice-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  margin-left: 100px;
  width: 50%;
  margin-top: 10px;
  //perspective:600px
}

.dice-one, .dice-two {
  top:0;
  position: relative;
  width: 60px;
  height: 60px;
  transform-style: preserve-3d;
  transform: translateZ(0px);
  transition: transform .5s;
}

.dice-one.show-1  { transform: translateZ(-100px) rotateY(   0deg); }
.dice-one.show-2  { transform: translateZ(-100px) rotateY(-180deg); }
.dice-one.show-3  { transform: translateZ(-100px) rotateY( -90deg); }
.dice-one.show-4   { transform: translateZ(-100px) rotateY(  90deg); }
.dice-one.show-5   { transform: translateZ(-100px) rotateX( -90deg); }
.dice-one.show-6 { transform: translateZ(-100px) rotateX(  90deg); }

.dice-two.show-1  { transform: translateZ(-100px) rotateY(   0deg); }
.dice-two.show-2  { transform: translateZ(-100px) rotateY(-180deg); }
.dice-two.show-3  { transform: translateZ(-100px) rotateY( -90deg); }
.dice-two.show-4   { transform: translateZ(-100px) rotateY(  90deg); }
.dice-two.show-5   { transform: translateZ(-100px) rotateX( -90deg); }
.dice-two.show-6 { transform: translateZ(-100px) rotateX(  90deg); }


.dice-face {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 2px solid black;
  border-radius: 12px;
  line-height: 60px;
  font-size: 40px;
  font-weight: bold;
  color: red;
  text-align: center;
}

.dice-face-1  { background: ghostwhite;  opacity: 1.00;}
.dice-face-3  { background: ghostwhite;  opacity: 1.00; }
.dice-face-2  { background: ghostwhite;  opacity: 1.00; }
.dice-face-4  { background: ghostwhite;  opacity: 1.00; }
.dice-face-5  { background: ghostwhite;  opacity: 1.00; }
.dice-face-6  { background: ghostwhite;  opacity: 1.00; }

.dice-face-1  { transform: rotateY(  0deg) translateZ(100px); }
.dice-face-2  { transform: rotateY(180deg) translateZ(100px); }
.dice-face-3  { transform: rotateY( 90deg) translateZ(100px); }
.dice-face-4  { transform: rotateY(-90deg) translateZ(100px); }
.dice-face-5  { transform: rotateX( 90deg) translateZ(100px); }
.dice-face-6  { transform: rotateX(-90deg) translateZ(100px); }
