body {
  margin: 0;
  background-color: black;
}

.dio {
  background-color: black;
  z-index: inherit;
  width: 100%;
}

h1{
position: absolute;
z-index: 0;
margin-left: 50%;
color: white;
}

.countdown{
  position: absolute;
  z-index: 0;
  margin-left: 50%;
  color: white;
  }

.buttonGrid {
  display: grid;
  position: absolute;
  z-index: 0;
  top: 0%;
  width: 5%;
  height: 10%;
  grid-template-columns: repeat(20, 100%);
  grid-template-rows: repeat(20, 100%);
  justify-content: space-between;
}

.button{
  border-radius: 10%;
}