body {
  margin: 0;
  align-items: center;
  background-color: red;
}

h1{
margin-left: 50%;
color: yellow;
}

.middleArticle{
  display: flex;
  width: 100%;
  margin-top: 5%;
  flex-direction: row;
  align-content: space-between;
}

.gridLayout {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 70%;
  margin-left: 5%;
  background-color: white;
  align-content: center;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-collapse: collapse;
  border-radius: 10px;
}

.glide{
  transition: height 1s ease-in-out;
  height: 0%;
}

.glideOut{
  height: 100%;
}

.divImg{
  width: 33.333%;
  height: 150px;
  border-right: 5px solid black;
  text-align: center;
  box-sizing: border-box;
}

.slotImages{
  max-width: 70%;
  max-height: 70%;
  flex: 0 0 33.3%;
  height: auto;
  background-color: white;
  margin-top: 7%;
  pointer-events: none;
}

.spinDiv{
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.spinButton{
  border-radius: 50%;
  height: 40%;
  width: 40%;
  font-weight: bolder;
  font-size: 35px;
  border: 2px solid grey;
  background-color: yellow;
}

.spinButton:hover{
  color: red;
  box-shadow: 10px 10px 5px grey;
}

.bottomArticle{
  display: flex;
  width: 95%;
  max-height: 10%;
  margin-top: 1%;
  margin-left: 5%;
  flex-direction: row;
  align-content: space-between;
  max-height: 100px;
}

.balanceDiv, .coinInsertionDiv, .smallCoinDiv, .bigCoinDiv{
  display: flex;
  width: 18%;
}

.balance{
  width: 95%;
  height: auto;
  background-color: yellow;
  border: 2px solid grey;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
}

$primary: black;
$easing: cubic-bezier(0.5,2,0.5,0.75);

.betButton {
  position: relative;
  display: flex;
  align-self: center;
  background: none;
  border: none;
  outline: none;
  font-size: 30px;
  border-bottom: 3px solid black;
  min-width: 60%;
  max-height: 40%;
  text-align: left;
  outline: none;
  cursor: pointer;
  z-index: 2;
  
  &:after {
     content: '▾';
     position: absolute;
     right: 0px;
     top: 0%;
  }
}

.betDiv, .betMultiplierDiv {
  position: relative;
  display: flex;
  width: 15%;
  
  #list1, #list2 {
     list-style: none;
     border: 4px solid black;
     border-radius: 10px;
     margin: 0;
     padding: 0;
     align-self: center;
     background: red;
     box-shadow: 0 2px 4px rgba(black, 0.24);
     display: flex;
     position: absolute;
     max-height: 40%;
     opacity: 0;
     transform: scale(0.8) translate3d(-20px, 0px, 0);
     
     transition: opacity 0.1s $easing, transform 0.3s $easing;
     
     transform-origin: 0 100%;
     z-index: -1;
     
     &.open {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0);
        z-index: 5;
     }
     
     li {
        display: inline-block;
        a {
           text-decoration: none;
           border-right: 5px solid black;
           display: inline-block;
           font-size: 20px;
           padding: 10px 16px;
           color: $primary;
           
           &:hover {
              color: darken($primary, 20%);
           }
           
           &.active {
              border-bottom: 2px solid black;
              color: black;
              &:hover {
                 color: black;
              }
           }
        }
     }
  }
}

.coinInsertionImg, .smallCoinImg, .bigCoinImg{
  display: flex;
  align-self: center;
  max-height: 80%;
  border-radius: 50%;
  border-top-right-radius: 0%;
}

.smallCoinImg{
  margin-left: auto;
  margin-right: 5%;
}

.bigCoinImg{
  max-height: 120%;
  margin-left: 5%;
}

.coinInsertionImg.over{
  background-color: yellow;
}